main {
  .products {
    .container {
      width: 1440px;
      margin: 0 auto;
      padding: 0 130px;
      h2 {
        margin-top: 60px;
        font-family: "SVN-Gilroy";
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 24px;
        /* identical to box height, or 150% */

        display: flex;
        align-items: flex-end;

        color: #000000;
      }
      .div {
        width: 1180px;

        h3 {
          font-family: "SVN-Gilroy";
          font-style: normal;
          font-weight: 700;
          font-size: 24px;
          line-height: 36px;
          /* identical to box height, or 150% */

          display: flex;
          align-items: flex-end;
          text-transform: capitalize;

          /* Primary Color/Dark Blue */

          color: #003459;
        }
      }

      .grid {
        margin-top: 36px;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 28px;
        .box {
          background: #fdfdfd;
          box-shadow: 0px 4px 28px -2px rgba(0, 0, 0, 0.08);
          border-radius: 12px;
          .main {
            padding: 16px;
            h4 {
              margin-top: 16px;
              font-family: "SVN-Gilroy";
              font-style: normal;
              font-weight: 700;
              font-size: 16px;
              line-height: 24px;
              /* identical to box height, or 150% */

              display: flex;
              align-items: flex-end;

              /* Neutral Color/100 */

              color: #00171f;
            }
            h5 {
              display: flex;
              align-items: center;
              gap: 6px;
              margin-top: 4px;
              font-family: "SVN-Gilroy";
              font-style: normal;
              font-weight: 700;
              font-size: 12px;
              line-height: 18px;
              /* identical to box height, or 150% */

              /* Neutral Color/60 */

              color: #667479;
              span {
                display: flex;
                align-items: center;
                color: #54585a;
              }
            }
            h6 {
              margin-bottom: 10px;
              margin-top: 4px;
              font-family: "SVN-Gilroy";
              font-style: normal;
              font-weight: 700;
              font-size: 14px;
              line-height: 20px;
              /* identical to box height, or 143% */

              display: flex;
              align-items: flex-end;

              /* Neutral Color/100 */

              color: #00171f;
            }
            .yellow {
              padding: 8px 48px 6px 11px;
              background: #fceed5;
              border-radius: 8px;
              font-family: "SVN-Gilroy";
              font-style: normal;
              font-weight: 700;
              font-size: 14px;
              line-height: 20px;
              /* identical to box height, or 143% */

              display: flex;
              align-items: flex-end;

              /* Primary Color/Dark Blue 80 */

              color: #002a48;
            }
          }
        }
      }
    }
  }
}
@media (max-width:1000px) {
  main {
  .products {
    .container {
      width: 834px;
      margin: 0 auto;
      padding: 0 124px 0 130px;
      
      h2 {
        margin-top: 60px;
        font-family: "SVN-Gilroy";
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 24px;
        /* identical to box height, or 150% */

        display: flex;
        align-items: flex-end;

        color: #000000;
      }
      .div {
        width: 574px;

        h3 {
          font-family: "SVN-Gilroy";
          font-style: normal;
          font-weight: 700;
          font-size: 24px;
          line-height: 36px;
          /* identical to box height, or 150% */

          display: flex;
          align-items: flex-end;
          text-transform: capitalize;

          /* Primary Color/Dark Blue */

          color: #003459;
        }
      }

      .grid {
        margin-top: 28px;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;
        .box {
          background: #fdfdfd;
          box-shadow: 0px 4px 28px -2px rgba(0, 0, 0, 0.08);
          border-radius: 12px;
          .main {
            padding: 16px;
            h4 {
              margin-top: 16px;
              font-family: "SVN-Gilroy";
              font-style: normal;
              font-weight: 700;
              font-size: 16px;
              line-height: 24px;
              /* identical to box height, or 150% */

              display: flex;
              align-items: flex-end;

              /* Neutral Color/100 */

              color: #00171f;
            }
            h5 {
              display: flex;
              align-items: center;
              gap: 6px;
              margin-top: 4px;
              font-family: "SVN-Gilroy";
              font-style: normal;
              font-weight: 700;
              font-size: 12px;
              line-height: 18px;
              /* identical to box height, or 150% */

              /* Neutral Color/60 */

              color: #667479;
              span {
                display: flex;
                align-items: center;
                color: #54585a;
              }
            }
            h6 {
              margin-bottom: 10px;
              margin-top: 4px;
              font-family: "SVN-Gilroy";
              font-style: normal;
              font-weight: 700;
              font-size: 14px;
              line-height: 20px;
              /* identical to box height, or 143% */

              display: flex;
              align-items: flex-end;

              /* Neutral Color/100 */

              color: #00171f;
            }
            .yellow {
              padding: 8px 48px 6px 11px;
              background: #fceed5;
              border-radius: 8px;
              font-family: "SVN-Gilroy";
              font-style: normal;
              font-weight: 700;
              font-size: 14px;
              line-height: 20px;
              /* identical to box height, or 143% */

              display: flex;
              align-items: flex-end;

              /* Primary Color/Dark Blue 80 */

              color: #002a48;
            }
          }
        }
      }
    }
  }
}
}
@media (max-width:600px) {
  main {
  .products {
    display: none;
  }
}
}